<h1>About us</h1>

<div class="columns">
    <div class="col-3"></div>
    <div class="col-6">
        <p>
            We are a family company that have speciallised our expretise in finding temporary homes for cats in need.
            Sometimes life gets in the way and we are not able to take care of our companions the way they deserve
            Through this site you can post or respond to an ad with a cat that is in need of a temporary home.
            We aim to provide high quality cats to the price of null.
        </p>
    </div>
    <div class="col-4"></div>
</div>