<h1>Contact us</h1>
<ul style="list-style: none;">
    <li>
        Adress: Datasal 2032 Jönköping
    </li>
    <li>
        Email: liti20dt@student.ju.se
    </li>
    <li>
        Phone: 0586201823
    </li>
</ul>