<h1>new Donation alternative!</h1>

{{#each errors}}
    <li>
	    {{this}}
    </li>
{{/each}}
<form action="/donationalternative/create" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div class="text-left">
		<p class="mb-0">Name:</p><input type="text" name="name">		
	</div>
	<div class="text-left">
		<p class="mb-0">Description:</p><textarea name="description"></textarea>		
	</div>
	<div class="text-left">
		<p class="mb-0">Link to website:</p><input type="text" name="link">	
	</div>
	<div>
		<input class="float-left mt-2" type="submit" value="Create">
	</div>
</form>