<h1>New Ad</h1>
{{#if errors.length}}
    <h1>Couldn't create new post beacuse </h1>
{{#each errors}}
<ul>
	<li>
		{{this}}
	</li>
</ul>
{{/each}}
{{/if}}
<form action="/index/create" method="POST" encType="multipart/form-data">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div class="text-left">
		<p style="margin-bottom:5px;">Name:</p>
		<input type="text" name="name">
	</div>
	<div class="text-left">
		<p style="margin-bottom:5px;">Description:</p>
		<textarea name="description"></textarea>
	</div>
	<div class="text-left">
		<p style="margin-bottom:5px;">Age:</p>
		<input type="text" name="age">
	</div>
	<div class="text-left" style="margin-top: 10px; margin-bottom: 10px;">
		Upload image:
		<input type="file" name="imageFile">
	</div>
<!--  list all usernames and let the admin click on one of them -->
	{{#if session.AdminIsLoggedIn}}
	<div class="text-left">
		<p style="margin-bottom:5px;">CatOwnerId:</p>
		<input type="text" name="catownerid">
	</div>

	{{else}}
	<input type="hidden" name="catownerid" value="{{session.CatownerID}}">
	{{/if}}
	<div>
		<input class="float-left" type="submit" value="Create" style="margin-top:10px;">
	</div>
</form>